body{
    text-align: center;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 3px solid black;
    margin: 8px;
}
.red{
   background-color: red;
}
.blue{
background-color: blue;
}
.green{
   background-color: green;
}
.yellow{
  background-color: yellow;
}
.gameflash{
    background-color: rgb(242, 236, 236);
}

.userflash{
    background-color: rgb(126, 199, 17);
}